h1 {
    text-align: center;
    padding: 50px 25px 50px 25px;
    border-style: groove;
    border-width: 60px;
    border-color: rgb(83, 237, 217);
    margin-left: 100px;
    margin-right: 100px;
    
}
form {
    text-align: center;
}
table{
    background-color: aliceblue;
    border-style: double;
    border-width: 7px;
    border-color: black;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
}
th {
    border-style: solid;
    border-color: black;
}
body {
    background-image: url(/images/city_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.completed {
    background-color: greenyellow;
}